<div class="ua-datamanager-main">
  <div class="ua-filters">
    {{keyword}}
    {{department}}
    {{career}}
    {{campus}}
    {{mode}}
  </div>
  <div class="ua-result-count">Showing {{shown}} of {{count}}</div>
  <div class="ua-grid-scroll" data-ua-grid-scroll>
    <table class="ua-grid">
      <thead>
        <tr>{{headers}}</tr>
      </thead>
      <tbody>{{rows}}</tbody>
    </table>
    <div class="ua-infinite-scroll-marker" data-ua-infinite-scroll-marker aria-hidden="true"></div>
  </div>
  <div class="ua-paging">{{paging}}</div>
  {{modal}}
</div>
